<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="off">
        <appender-ref ref="console"/>
    </root>
    <logger name="softserve.com.model.entities.Warrior" level="debug"/>
    <logger name="softserve.com.model.entities.Knight" level="debug"/>
    <logger name="softserve.com.model.entities.Defender" level="debug"/>
    <logger name="softserve.com.model.entities.Vampire" level="debug"/>
    <logger name="softserve.com.model.entities.Lancer" level="debug"/>
    <logger name="softserve.com.model.entities.Warlord" level="debug"/>
    <logger name="softserve.com.model.entities.Werewolf" level="debug"/>
    <logger name="softserve.com.model.entities.Healer" level="debug"/>
</configuration>
